{% extends "layout.html "%}

{% block header %}
<h1>Login</h1>
{% endblock header %}

{% block body%}
  <form method="post" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label(class="form-control-label")}}
      {{ form.email(class="form-control", placeholder="Enter your email")}}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-control-label")}}
      {{ form.password(class="form-control", placeholder="Enter your password")}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body%}
